<%= form_for @order do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@order.errors.count, "error") %>.
      </div>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :restaurant_name %>
    <%= f.text_field :restaurant_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, ['Draft', 'Finalized', 'Ordered', 'Delivered'], {include_blank: "Choose kind", default: nil} %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'form-control' %>
  </div>
<% end %>